<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="Main_SidraOld" connectionString="C:\TFS\Sidra\Main\Source\PL\SveaFinans.Presentation\App.config"/>
    <add name="Main_SidraLite" connectionString="C:\TFS\Sidra\Main\SourceLite\Sidra\App.config"/>
    <add name="Main_API" connectionString="C:\TFS\Sidra\Main\WebService\SidraWs\SidraWs.Host\appsettings.json"/>
  </connectionStrings>
</configuration>